{%extends 'base.html'%} 
{%block start%}

    <div class="card" style="width: 600px; margin: auto;">
        <div class="card-body">
            <form method="post">
                {%csrf_token%}
            <div class="mb-3">
                <label class="form-label">Recipie Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="recipe_name"
                  name="recipe_name"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Recipie Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="recipe_description"
                  name="recipe_description"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
{%endblock%}